.vscode/**
.vscode-test/**
out
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/webpack.config.js
**/tslint.json
**/*.map
**/*.ts
*.todo
.vs
package-lock.json
.editorconfig
.npmrc
.gitattributes

media/app
img/demo.gif
dist/extension.js.LICENSE.txt

node_modules
LICENSE
docs
LICENSE.txt
**/*.scss
scripts
language-examples