html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	--one-space: 0.25em;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

body {
	padding: 0.5rem;
}

img {
	height: auto;
	max-width: 100%;
}

button {
	background-color: var(--vscode-button-background);
	border: none;
	color: var(--vscode-button-foreground);
	cursor: pointer;
	font-family: var(--vscode-font-family);
	margin: 0 auto;
	padding: 0.2rem 0.4rem;
}

button:hover {
	background-color: var(--vscode-button-hoverBackground);
	color: var(--vscode-button-foreground);
}

button:focus {
	outline: 1px solid var(--vscode-focusBorder) !important;
}

input[type='text'] {
	background-color: var(--vscode-input-background);
	border: 1px solid var(--vscode-input-border);
	color: var(--vscode-input-foreground);
	font-family: var(--vscode-editor-font-family);
	outline: none;
	padding: 0.1rem 0.2rem;
	width: 9ch;
}

input[type='text']:focus {
	border-color: var(--vscode-focusBorder);
}

input[type='color'] {
	appearance: none;
	border: none;
	height: 1.3em;
	margin-right: 0.5ch;
	outline: none;
	padding: 0;
	width: 1.3em;
}

input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type='color']::-webkit-color-swatch {
	border: 1px solid #111111;
}

table {
	border-collapse: collapse;
	margin: 0.5rem;
	margin-left: 0;
}

td {
	border: 1px solid var(--vscode-editorOverviewRuler-border);
}

td > div {
	align-items: center;
	display: flex;
	flex-direction: row;
	padding: 0.15rem 0.35rem;
}

td code {
	margin-left: var(--one-space);
}

.generate-container {
	background-color: var(--vscode-editor-background);
	position: fixed;
	right: 0.5rem;
	top: 0.5rem;
}

.order-number {
	margin-right: var(--one-space);
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.lock-container {
	cursor: pointer;
	display: block;
	position: relative;
	user-select: none;
}

.lock-container input {
	cursor: pointer;
	height: 0;
	opacity: 0;
	position: absolute;
	width: 0;
}

.lock {
	display: inline-block;
	height: 1.5em;
	left: 0;
	margin-left: var(--one-space);
	text-align: center;
	top: 0;
	width: 1.5em;
}

.lock-container input ~ .lock span {
	opacity: 0.3;
}

.lock-container input:checked ~ .lock span,
.lock-container input:hover ~ .lock span {
	opacity: 1;
}

.lock-container input:checked ~ .lock {
	background-color: var(--vscode-inputOption-activeBackground);
	color: var(--vscode-inputOption-activeForeground);
}