*,
*:before,
*:after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

body {
	padding: 0.5rem;
}

img {
	height: auto;
	max-width: 100%;
}

button {
	background-color: var(--vscode-button-background);
	border: none;
	color: var(--vscode-button-foreground);
	cursor: pointer;
	font-family: var(--vscode-font-family);
	margin: 0 auto;
	padding: 0.2rem 0.4rem;
}

button:hover {
	background-color: var(--vscode-button-hoverBackground);
	color: var(--vscode-button-foreground);
}

button:focus {
	outline: 1px solid var(--vscode-focusBorder) !important;
}

input[type='text'] {
	background-color: var(--vscode-input-background);
	border: 1px solid var(--vscode-input-border);
	color: var(--vscode-input-foreground);
	font-family: var(--vscode-editor-font-family);
	outline: none;
	padding: 0.1rem 0.2rem;
	width: 9ch;
}

input[type='text']:focus {
	border-color: var(--vscode-focusBorder);
}

table {
	border-collapse: collapse;
	margin: 0.5rem 0;
}

td {
	border: 1px solid var(--vscode-editorOverviewRuler-border);
	padding: 0.15rem 0.35rem;
}

.generate-container {
	background-color: var(--vscode-editor-background);
	position: fixed;
	right: 0.5rem;
	top: 0.5rem;
}

.row {
	display: flex;
}